/Ejercicio7/nbproject/private/
/Ejercicio7/build/
/Ejercicio8/nbproject/private/
/Entidad/nbproject/private/
/Ejercicio8/build/
/Ejercicio9/nbproject/private/
/Ejercicio9/build/
/Ejercicio10/nbproject/private/
/Ejercicio10/build/
/Ejercicio11/nbproject/private/
/Ejercicio11-/nbproject/private/
/Ejercicio11-/build/
/Ejercicio12/nbproject/private/
/Ejercicio12/build/
/Ejercicio13/nbproject/private/
/Ejercicio13/build/